* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #1e1f25;
}

/* Whole page layout */
.page {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: 100vh;
}

/* Sidebar popup */
.sidebar-card {
  width: 260px;
  background: #0d1117;
  color: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}


/* Content popup */
.content-card {
  flex: 1;
  background: #0d1117;
  color: black;
  border-radius: 20px;
  padding: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Sidebar items */
.logo {
  margin-bottom: 30px;
}

.menu-item {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease;
}

.menu-item:hover {
  background: #3a3b45;
}

.menu-item.active {
  background: #4c4f5f;
}